services:

  redis:
    image: redis:7
    networks:
      - dc_network
    command:
      - redis-server
      - --bind
      - "0.0.0.0"
      - --appendonly
      - "no"
      - --protected-mode
      - "no"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - dc_network
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      db:
        condition: service_healthy
        restart: true
    ports:
      - "${PORT}:${DOCKER_PORT}"
    env_file:
      - .env
    stdin_open: true

  db:
    image: postgres:14.13-bookworm
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    networks:
      - dc_network
    env_file:
      - .env
      
volumes:
  db_data:

networks:
  dc_network:
    external: true  # 既存のネットワークを使用