asyncpg==0.30.0
fastapi[standard]==0.115.5
numpy==1.26.4
psycopg[binary]==3.1.20
psycopg-pool==3.2.0
python-dotenv==1.0.1
requests==2.32.3
sqlalchemy==2.0.36
sse-starlette==1.8.2
uuid6==2024.7.10
uvicorn[standard]==0.32.1
Gunicorn==23.0.0
aiosqlite==0.21.0
APScheduler==3.11.0
redis==6.0.0